header {
  height: 96px;
  padding: 17px 32px;
}
.flex-par {
  display: flex;
  justify-content: center;
  row-gap: 64px;
}
.header-wrap {
  display: flex;
  max-width: 1440px;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
}
.logo-wrap {
  /* display: flex; */
  width: 101px;
}
/* .logo{
width: 100%;
} */
.nav-wrap {
  margin: 0 auto;
}
.nav-wrap ul {
  display: flex;
  max-width: 408px;
  width: 100%;
  column-gap: 24px;
}
.nav-wrap li {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1px;
}
.click-button,
.click-button-2 {
  width: 100px;
  background-color: black;
  border-radius: 50px;
}
.click-button a,
.click-button-2 a {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #f3f3f3;
  margin: 12px auto;
}
/* burger styles */
.burger-wrap {
  display: none;
}
/* section 1 */
.section-1-wrap {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
justify-content: space-around;
  row-gap: 64px;
}
.left-block {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.left-block h1 {
  color: #000;
  font-family: Inter;
  font-size: 56px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: -1px;
}
.paragraf {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin: 24px 0 40px;
}
.left-child {
  display: flex;
  align-items: center;
}
.left-child p {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-left: 20px;
}
.right-block img {
  width: 100%;
}
